<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
  <test name="Test">
    <!-- Following options can be passed as browser parameter
    chrome	- To run test in Chrome browser.
     -->
    <parameter name="browser" value="chrome"></parameter>
    <classes>
        <class name="com.quo.Login.MainTestPackage.LoginPage_Test">
           <methods>
            	<include name="Check_Login_Is_Successful"/>
           </methods>
        </class>
        <class name="com.quo.SprintReport.MainTestPackage.SprintReportPage_Test">
           <methods>
            	<include name="Navigate_To_Sprint_Report"/>
            	<include name="Select_Sprint_In_Drop_Down"/>
            	<include name="Generate_XLSX_Template_For_Sprint_Report"/>
            	<include name="Get_Data_For_Available_Block"/>
            	<include name="Send_Report_To_Email"/>
           </methods>
        </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
